@import url('http://fonts.googleapis.com/css?family=Bree+Serif|Merriweather');
@import url('http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

h1 {
  font-size: 2.2rem;
  //color: lighten($orange, 25);
}
header{
	background:url("https://farm8.staticflickr.com/7437/16348353847_fe2c8c3b8f_o.jpg");
	background-size:cover;
    background-position:50% 25%;
    background-attachment:fixed;
	height: 500px;
	padding-top:100px;

}
body{
	margin:0;
	padding-top:0px;

}


.main-nav,
.main{
	position: relative;

}

.main-nav{
	position:fixed;
	top:0;
	width:100%;
	background:rgba(0,0,0,0);
	height:45px;
	z-index:150;
	margin-bottom:-45px;
	box-shadow:0 2px 3px rgba(0,0,0,.4);
	text-align:center;
	font-size:1.5rem;
	padding-top:20px;
}
.main-nav-scrolled,

{
	position:fixed;
	top:0;
	width:100%;
}

.main-nav-scrolled-past,
{
	background:$off-white;
	position:fixed;
	top:0;
	width:100%;
}
.test {
  font-size: 1.2rem;
  color: $blue;
}

.main{
  background: $off-white;
  padding: 110px 50px 50px;
  column-count: 2;
  column-gap: 40px;
}