@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
$orange         : #BD3613;
$blue           : #2176C7;
$peach			: #f07057;
$off-white		: #f2f2e8;
$font-family-sans-serif:'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$default-border-radius : 10px;